$font: Helvetica, sans-serif;
$size24: 24px;
$color: darkkhaki;
$name: "test";
$size5: 5px;
$size15: 15px;

// variables for message.scss file.
$red-background: red;
$red-text: red;
$white-background: white;
$white-text: white;
